
/* @page{ */
/*     margin: 5mm 10mm 5mm 10mm; */
/*     width:100%; */
/*     padding:0; */
/* } */

@media print{
	.noprint{
		display: none; !important
	}
}


@media all{

html, body{
    max-width:210mm;
    color: dimgrey;
    font-family: 'Calibri-Light' sans-serif;
    margin:0 auto;
    -webkit-print-color-adjust: exact;

}

#signatureLine #signatureHolder1, #signatureHolder2{
	padding:0;
	margin:0;
}

.clear-padding-margin{
	padding:0;
	margin:0;
}

.clear-padding{
	padding:0;
}
    
.partner-heading{
        margin-bottom:0;
}

.border-bottom-dotted{
        border-bottom:1px dotted lightgrey;
}
    
.border-bottom{
    border-bottom:1px solid lightgrey;
}

.border-up{
    border:1px solid lightgrey;
}

.spacer-top-5{
    margin-top:5px;
}

.spacer-top-10{
    margin-top:10px;
}

.spacer-top-15{
    margin-top:15px;
}

.spacer-top-20{
    margin-top:20px;
}

.spacer-top-30{
    margin-top:30px;
}
    


#totalAll th{
	background-color: #06425C;
}

#article-info p{
	color: #06425C;
}

.remark-heading{
    font-size:13px;
}

.remark-p{
    font-size:11px;
}

.company-logo-text{
    font-size:12px;
    font-weight:bold;
}

.report-title{
    font-size:
}

#table-head-first-row th{
    border:0;
    font-size:11px;
}

#table-head-second-row th{
    border-top:0;
    font-size:11px;
}

#article-card-title h4{
    font-size:13px;
    font-weight:bold;
}

#document-info p{
    font-size:11px;
}

#article-info p{
    font-size:11px;
}

#article-info-storage-location p{
    font-size:11px;
}

.spacer-bottom-10{
	margin-bottom:10px;
}

.page-break-print{
	page-break-before: always;
}

/* Page header start */

#printPageHeader{
	font-size:12px;
}

#printPageHeader ul{
	list-style-type:none;
	text-decoration:none;
	padding:0;
	margin:0;
	font-size:12px;
}

#printPageHeader h2{
	font-size:18px;
	letter-spacing:1px;
	text-decoration:underline;
	font-weight:bold;
	margin:15px 0 0 0;
	padding:0;
	text-transform:uppercase;
}

#pageHeaderContainer{
	display:flex;
}

#pageHeaderContainer .topHeaderContainer{
	flex: 1;
}

/* Page header end */

/* Page body start */

.tableDocuments{
    width:100%;
    border:1px solid #51A39D;
}

.tableDocuments th{
	font-size:12px;
	border:1px solid #51A39D;
    padding: 0 2px 0 2px;
    background-color: #51A39D;
    color: #F2F2F2;
}
    
.tableDocuments tr > td{
	font-size:11px;
    border-bottom:1px solid #51A39D;
    padding: 0 2px 0 2px;
}

#totalAmount .tableDocuments{
	border: 1px solid #51A39D;
}

#totalAmount .tableDocuments tr>td{
	font-size:12px;
	background-color: #51A39D;
	color:#f2f2f2;
	font-weight:bold;
}

/* Page body end */

/* Page footer start */

#printPageFooter #remarkTitle{
	
}

#printPageFooter #remarkTitle h3{
	font-size:13px;
	font-weight:bold;
}

#printPageFooter hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #51A39D;
    margin: 1em 0;
    padding: 0; 
}


#printPageFooter #remarkBody p{
	font-size:11px;
}

#printPageFooter #signatureLineLeft, #signatureLineRight{
	margin-top:20px;
}



/* Page footer end */





    
}

    