
@page{
    margin: 5mm 10mm 5mm 10mm;
    width:100%;
    padding:0;
}


@media all{

html, body{
    max-width:210mm;
    color: dimgrey;
    font-family: 'Calibri-Light' sans-serif;
    margin:0 auto;
    -webkit-print-color-adjust: exact;

}
    
.partner-heading{
        margin-bottom:0;
}

.border-bottom-dotted{
        border-bottom:1px dotted lightgrey;
}
    
.border-bottom{
    border-bottom:1px solid lightgrey;
}

.border-up{
    border:1px solid lightgrey;
}

.spacer-top-5{
    margin-top:5px;
}

.spacer-top-10{
    margin-top:10px;
}

.spacer-top-15{
    margin-top:15px;
}

.spacer-top-20{
    margin-top:20px;
}

.spacer-top-30{
    margin-top:30px;
}

.tableDocuments{
        width:100%;
        border:1px solid lightgrey;
        font-size:10px;
}
    
.tableDocuments th{
        border-top:1px solid #51A39D;
        border-bottom:1px solid #51A39D;
		border:0;
        padding: 0 2px 0 2px;
        background-color: #51A39D;
        color: #F2F2F2;
}
    
.tableDocuments tr > td{
        border-bottom:1px solid #51A39D;
        padding: 0 2px 0 2px;
}

#totalAll th{
	background-color: #06425C;
}

#article-info p{
	color: #06425C;
}
    
}

.remark-heading{
    font-size:13px;
}

.remark-p{
    font-size:11px;
}

.company-logo-text{
    font-size:12px;
    font-weight:bold;
}

.report-title{
    font-size:
}

#table-head-first-row th{
    border:0;
    font-size:11px;
}

#table-head-second-row th{
    border-top:0;
    font-size:11px;
}

#article-card-title h4{
    font-size:13px;
    font-weight:bold;
}

#document-info p{
    font-size:11px;
}

#article-info p{
    font-size:11px;
}

#article-info-storage-location p{
    font-size:11px;
}

.spacer-bottom-10{
	margin-bottom:10px;
}

.page-break-print{
	page-break-before: always;
}


    
}

*/

    