.invisible-at-first {
	display: none;
}

.table-hover {

}

.margin-top-10 {
	margin-top: 25px; 
}

.border-radius-0 { border-radius: 0;}

.edit-delete-icon {font-size: 20px;
margin: 0 15px 0 15px;
}

/* .button-novi { */
/* 	margin-top: 5px; margin-bottom: 5px; border-radius: 0; */
/* } */

.panel-body {
    padding: 10px 20px 10px 20px;
}

.spacer-bottom{
	margin-bottom:10px;
}

.border-bottom{
	border-bottom:1px solid #eee;
}

.panel-default>.panel-heading{
	background-color:rgba(51,122,183, 1);
	color:#f3f3f3;
	font-weight:bold;
	letter-spacing:1px;
	border:0;
	border-radius:0;
}

.panel-default{
	border:1px solid #337AB7;
}

.panel-default > .panel-body{
	border:0;
	border-top:0;
	box-shadow:none;
}

.table.dataTable thead th, table.dataTable thead td {
	border-bottom:1px solid #337AB7;	
}

.table.dataTable tfoot th{
	border-top:0;
}

.table {
  border: 0.5px solid #337AB7;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td, {
   border: 0.5px solid #337AB7;
}