.invisible-at-first {
	display: none;
}

.table-hover {

}

.margin-top-10 {
	margin-top: 25px; 
}

.border-radius-0 { border-radius: 0;}

.edit-delete-icon {font-size: 20px;
margin: 0 15px 0 15px;
}

/* .button-novi { */
/* 	margin-top: 5px; margin-bottom: 5px; border-radius: 0; */
/* } */

.panel-body {
    padding: 10px 20px 10px 20px;
}

.spacer-bottom{
	margin-bottom:10px;
}

.border-bottom{
	border-bottom:1px solid #eee;
}